// Color Variables
$primary: #777;
$headline: #58e1c1;
$default: #51ddfc;
$error: #e4757a;
$info: #927bc1;
$success: #63cc82;
$warning: #fd7856;

// Media Query Breakpoints
$brk-tablet: '(min-width: 768px)';