/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;

  &:hover {
    background: lighten($color: $primary, $amount: 15%);
    @include transition;
  }

  @media #{$brk-tablet} {
    padding: 10px 30px;

    &+.btn {
      margin-left: 10px;
    }
  }
}

.default {
  background-color: $default;
  &:hover {
    background: lighten($color: $default, $amount: 15%);
    @include transition;
  }
}

.error {
  background-color: $error;
  &:hover {
    background: lighten($color: $error, $amount: 15%);
    @include transition;
  }
}

.info {
  background-color: $info;
  &:hover {
    background: lighten($color: $info, $amount: 15%);
    @include transition;
  }
}

.success {
  background-color: $success;
  &:hover {
    background: lighten($color: $success, $amount: 15%);
    @include transition;
  }
}

.warning {
  background-color: $warning;
  &:hover {
    background: lighten($color: $warning, $amount: 15%);
    @include transition;
  }
}